<div >
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @friendships.each do |friendship|%>
				<tr>
					<td><%= friendship.friend.full_name%></td>
					<td><%= friendship.friend.email%></td>							
						<td>			
							<%= link_to "View Profile", user_path(friendship.friend), class: 'btn btn-xs btn-primary'%>			
							<%= link_to "delete", friendship_path(friendship), method: :delete, class: 'btn btn-xs btn-danger'%>
						</td>	
				</tr>
			<% end %>
		</tbody>
	</table>
</div>