<h1>My Friends</h1>
<h3>Search for Friends</h3>
<div>
	<%= render 'users/friends_look_up'%>
	<div id="users-results">
		<%= render 'users/users_result'%>
	</div>
	<div id="my_users_listing">
		<%= render 'users/list'%>
	</div>
</div>